.header, .footer{
    padding: 20px;
    background-color: #2fc6f7;
}
.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer{
    margin-top: auto;
}