*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
}
.input{
    width: 100%;
    border: 1px solid teal;
    padding: 10px 15px;
    margin-top: 15px;
}
.app{
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 15px;
    background: none;
    color: teal;
    border: 1px solid teal;
}