.tableLife {
    background-color: #C2DBED;
    padding: 0;
    margin: 0;
}
.imageLife {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
}
.tableLife td {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
